    body {
      background:#fff
      font-size:15px;
    }
    #wrap {
      position:relative;
      width:220px;
      margin:50px auto 0;
    }
    #dogs {
      position:relative;
      width:1000px;
      margin:50px auto 0;
    }
    #header{position:relative;line-height:1em;}
    .filterform {
      width:220px;
      font-size:12px;
      display:block;
    }
    .filterform input {
      -moz-border-radius:5px;
      border-radius:5px;
      -webkit-border-radius:5px;
    }
    #header1{position:relative;line-height:1em;}
    .dogfilterform {
      width:350px;
      font-size:15px;
      left: 70px
      display:block;
    }
    .dogfilterform input {
      -moz-border-radius:5px;
      border-radius:5px;
      -webkit-border-radius:5px;
    }
    #alist.leftwing {
    	float: left;
        margin-right: 10px;
        width: 200px;   
    }
    #asearch.rightwing {
    	float: right;
        width: 400px;
    }